.Pocket {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 200px auto auto;
  grid-template-areas:
    "pocket_header"
    "pocket_actions"
    "pocket_history";
}

.PocketActions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  grid-area: pocket_actions;
}

.PocketActions a {
  font-size: 20px;
  color: #ddd;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  background-color: #222;
}
.PocketActions a:hover {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.PocketBottom {
  grid-area: pocket_history;
  padding: 25px;
}
