.Pocket {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 200px auto auto;
  grid-template-areas:
    "pocket_header"
    "pocket_actions"
    "pocket_history";
}

.PocketHeader, .PocketTo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row;
  grid-area: pocket_header;
  background: rgb(2,0,36);
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(3,19,83,1) 50%, rgba(51,0,88,1) 100%);
}

.PocketTo {
  grid-area: unset;
  margin: -25px;
  height: 200px;
}

.Amount {
  color: #fff;
  font-size: 50px;
}
.Amount span {
  font-size: 25px;
  margin-left: 15px;
}

.AmountSend {
  padding: 15px;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  background-color: #48BB78;
}
.AmountSend span {
  font-size: 20px;
}

.PocketActions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  grid-area: pocket_actions;
}

.PocketActions a {
  font-size: 20px;
  color: #ddd;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  background-color: #222;
}
.PocketActions a:hover {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.PocketBottom {
  grid-area: pocket_history;
  padding: 25px;
}

.OtherPockets {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.PocketToExchange {
  width: 50%;
  height: 150px;
  padding: 25px;
  background-color: #222;
  color: #ddd;
  text-decoration: none;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 25px auto 25px;
  grid-template-areas:
    "subpocket_header"
    "subpocket_amount"
    "subpocket_rate";
}
.PocketToExchange:hover {
  padding: 24px;
  background-color: #000;
  color: #fff;
  border: 1px solid #222;
}

.PocketToExchange header {
  grid-area: subpocket_header;
}
.PocketToExchange div {
  grid-area: subpocket_amount;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
.PocketToExchange div span {
  font-size: 25px;
  margin-bottom: -15px;
}
.PocketToExchange footer {
  grid-area: subpocket_rate;
  text-align: right;
}
