.Pocket {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #222;
  color: #ddd;
  text-decoration: none;
}
.Pocket:hover {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.Currency {
  font-weight: bold;
}

.Amount span {
  font-size: 24px;
  margin-left: 3px;
}
